/* line 1, /Users/jiashern/Desktop/nulisite/app/assets/stylesheets/welcome.scss */
html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

/* line 10, /Users/jiashern/Desktop/nulisite/app/assets/stylesheets/welcome.scss */
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

/* line 15, /Users/jiashern/Desktop/nulisite/app/assets/stylesheets/welcome.scss */
li {
  list-style-type: none;
}

/* line 19, /Users/jiashern/Desktop/nulisite/app/assets/stylesheets/welcome.scss */
.navbar {
  background: #0069AA;
  margin: 0 !important;
  border: 0 !important;
}

/* line 25, /Users/jiashern/Desktop/nulisite/app/assets/stylesheets/welcome.scss */
.logo {
  width: 300px;
  height: auto;
  margin: 0 auto;
  padding-bottom: 20px;
}

/* line 32, /Users/jiashern/Desktop/nulisite/app/assets/stylesheets/welcome.scss */
.text-spaced {
  line-height: 1.3em;
}

/* line 36, /Users/jiashern/Desktop/nulisite/app/assets/stylesheets/welcome.scss */
.text-p {
  padding-top: 10px;
}

/* line 40, /Users/jiashern/Desktop/nulisite/app/assets/stylesheets/welcome.scss */
.text-white {
  color: white;
}

/* line 44, /Users/jiashern/Desktop/nulisite/app/assets/stylesheets/welcome.scss */
.btn-palette {
  background-color: #443276;
  color: #fff;
}

/* line 49, /Users/jiashern/Desktop/nulisite/app/assets/stylesheets/welcome.scss */
.clear {
  padding-top: 3px;
}

/* line 53, /Users/jiashern/Desktop/nulisite/app/assets/stylesheets/welcome.scss */
.background-header {
  background: url(desk2.jpg) center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 780px;
  padding-top: 120px;
}

/* line 63, /Users/jiashern/Desktop/nulisite/app/assets/stylesheets/welcome.scss */
#mc_embed_signup {
  position: relative;
  display: block;
  margin: 0 auto;
  text-align: center;
}

/* line 70, /Users/jiashern/Desktop/nulisite/app/assets/stylesheets/welcome.scss */
.email {
  min-width: 250px;
  width: auto;
  display: inline;
}

/* line 76, /Users/jiashern/Desktop/nulisite/app/assets/stylesheets/welcome.scss */
.fa {
  padding: 0 20px 0 20px;
  color: #443276;
}

/* line 81, /Users/jiashern/Desktop/nulisite/app/assets/stylesheets/welcome.scss */
footer {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* line 86, /Users/jiashern/Desktop/nulisite/app/assets/stylesheets/welcome.scss */
.footer {
  text-align: center;
  width: 100%;
}

/* line 91, /Users/jiashern/Desktop/nulisite/app/assets/stylesheets/welcome.scss */
.footer-space {
  padding-bottom: 5px;
}

/* line 95, /Users/jiashern/Desktop/nulisite/app/assets/stylesheets/welcome.scss */
.f1,
.f2,
.f3 {
  position: relative;
  display: inline-block;
  text-align: center;
  min-width: 300px;
  width: 33%;
}

/* line 105, /Users/jiashern/Desktop/nulisite/app/assets/stylesheets/welcome.scss */
.copyright {
  display: inline-block;
  position: relative;
  margin: 0 auto;
  text-align: center;
  padding-left: 40px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

