  <div class="container-fluid">
    <div class="row">
      <div class="background-header" id="home"> 
		<img src="/assets/logo2.png" class="img-responsive logo">
		<h3 class="text-center text-spaced text-white">Got Skills? Want to work on awesome startups and projects?<br> OR <br>Got an idea? Looking to get help from fellow university students?</h3><br>
		<h4 class="text-center text-p text-white">Be the first to join our elite network!</h4>

		<div id="mc_embed_signup" class="form-inline form-group">
		<form action="//nuli.us12.list-manage.com/subscribe/post?u=e10c050147e90ba52e6492e60&amp;id=9deb93d3a6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
		    <div id="mc_embed_signup_scroll">

  <div class="col-lg-6 col-lg-offset-3 text-center">
    <div class="input-group">
      <input type="text" class="form-control email" placeholder="Enter your email address here...">
      <span class="input-group-btn">
        <button class="btn btn-palette " type="button">I'm in!</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
<!-- 			<input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="email address" required><span class="clear"><input type="submit" value="I'm in!" name="I'm in!" id="mc-embedded-subscribe" class="btn btn-palette"></span> -->
		<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups -->		    
		<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e10c050147e90ba52e6492e60_9deb93d3a6" tabindex="-1" value=""></div>
		    
		    </div>
		</form>
		</div>
      </div>
<footer>
	<div class="footer">

  	<div class="f1 col-sm-4">			
  			<ul>
				<li class="footer-space text-center">About</li>
				<li class="footer-space text-center">Contact</li>
				<li class="footer-space text-center">FAQ</li>
			</ul>
	</div>

  <div class="f2 col-sm-4">
		<ul class="social-icons">
				<a href="https://www.facebook.com/nuliHQ/">
					<i class="fa fa-facebook fa-3x"></i>
				</a>
			
				<a href="https://twitter.com/NuliHQ">
					<i class="fa fa-twitter fa-3x"></i>
				</a>
			
				<a href="https://www.instagram.com/nulihq/">
					<i class="fa fa-instagram fa-3x"></i>
				</a>
				</a>
		</ul>  
  </div>

  <div class="f3 col-sm-4">
		<ul>
			<li class="footer-space text-center">Terms &amp; conditions</li>
			<li class="footer-space text-center">Contact</li>
			<li class="footer-space text-center">FAQ</li>
		</ul>
  </div>
		  	<div class="">
				<p class="copyright">Copright 2016 <a href="#">Nuli</a> - All Rights Reserved</p>
		  </div>
  </div>
</footer>
    </div>
  </div>