<div class="row">
  <div class="background-header" id="home">
    <img src="/assets/logo2.png" class="img-responsive logo">
    <h3 class="text-center text-spaced text-white text-light">Got Skills? Want to work on awesome startups and projects?<br>
      OR
      <br>Got an idea? Looking to get help from fellow university students?</h3><br>
    <h4 class="text-center text-p text-white text-light">Be the first to join our elite network!</h4>

    <div id="mc_embed_signup" class="form-inline form-group">
      <!-- <form action="//nuli.us12.list-manage.com/subscribe/post?u=e10c050147e90ba52e6492e60&amp;id=9deb93d3a6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate> -->
        <div id="mc_embed_signup_scroll">

          <div class="col-lg-6 col-lg-offset-3 text-center">
            <!-- <div class="input-group">
              <input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="email address" required>
              <span class="input-group-btn"><input type="submit" value="I'm in!" name="I'm in!" id="mc-embedded-subscribe" class="btn btn-palette"></span>
            </span>
          </div> -->
          <!-- /input-group -->

          <%= form_tag('/welcome/subscribe', method: "post", id: "subscribe", remote: "true") do -%>
             <%= email_field(:email, :address, {id: "email", placeholder: "email address", :class=>"email form-control"}) %>
             <%= submit_tag("Sign me up!", :class=>"btn btn-palette") %>
          <% end %>

        </div>
        <!-- /.col-lg-6 -->

      </div>
    <!-- </form> -->
  </div>
</div>
</div>
<!-- Portfolio Grid Section -->
<section id="portfolio">
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2 class="spaced text-light">Homegrown Startups</h2>
      <hr class="star-primary">
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 portfolio-item">
      <a href="http://www.kickaboutapp.net" target="_blank" class="portfolio-link" data-toggle="modal">
        <div class="caption">
          <div class="caption-content">
            <h3>Kickabout</h3>
            <p class="portfolio-p">Sports Meet-up App</p>
            <button class="btn-rounded fa fa-rocket">
              <i class=""></i>
            </button>
          </div>
        </div>
        <img src="assets/kickabout.jpg" class="img-responsive rounded" alt="">
      </a>
    </div>
    <div class="col-sm-4 portfolio-item">
      <a href="http://chatale.co.uk" target="_blank" class="portfolio-link" data-toggle="modal">
        <div class="caption">
          <div class="caption-content">
            <h3>ChaTale</h3>
            <p class="portfolio-p">Unique Tea Subscription</p>
            <button class="btn-rounded fa fa-rocket">
              <i class=""></i>
            </button>
          </div>
        </div>
        <img src="assets/chatale.png" class="img-responsive rounded" alt="">
      </a>
    </div>
    <div class="col-sm-4 portfolio-item">
      <a href="http://www.flybery.com" target="_blank" class="portfolio-link" data-toggle="modal">
        <div class="caption">
          <div class="caption-content">
            <h3>Flybery</h3>
            <p class="portfolio-p">Female Sportswear Aggregator</p>
            <button class="btn-rounded fa fa-rocket">
              <i class=""></i>
            </button>
          </div>
        </div>
        <img src="assets/flybery.png" class="img-responsive rounded flybery" alt="">
      </a>
    </div>
    <!-- <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/game.png" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/safe.png" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/submarine.png" class="img-responsive" alt="">
                    </a>
                </div> -->
  </div>
</div>
</section>

<footer>
<div class="row">
  <div class="footer">
    <td class="verticalline1">

      <div class="f1 col-sm-4">
        <ul>
          <li class="footer-space text-center">Pricing</li>
          <li class="footer-space text-center">About</li>
          <li class="footer-space text-center">Contact</li>
          <li class="footer-space text-center">FAQ</li>
        </ul>
      </div>
    </td>

    <div class="f2 col-sm-4">
      <ul class="social-icons">
        <a href="http://www.facebook.com/nulihq" target="_blank">
          <i class="fa fa-facebook fa-3x fa-move"></i>
        </a>

        <a href="http://www.twitter.com/nulihq" target="_blank">
          <i class="fa fa-twitter fa-3x fa-move"></i>
        </a>

        <a href="http://www.instagram.com/nulihq" target="_blank">
          <i class="fa fa-instagram fa-3x fa-move"></i>
        </a>
      </a>
    </ul>
  </div>

  <div class="f3 col-sm-4">
    <ul>
      <li class="footer-space text-center">Blog</li>
      <li class="footer-space text-center">Team</li>
      <li class="footer-space text-center">Help &amp; Support</li>
      <li class="footer-space text-center">Terms &amp; Conditions</li>
    </ul>
  </div>
  <div class="">
    <p class="copyright">Copright 2016
      <a href="#">Nuli</a>
      - All Rights Reserved</p>
  </div>
</div>
</div>
</footer>
