html,body
{
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

@media screen and (min-height:2048px){
 .background-header{
      min-height: 1066px;
  }
}

body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
}

.text-light {
  font-weight: 300 !important;
}

li {
    list-style-type: none;
}

.navbar {
    background: #0069AA;
    margin: 0 !important;
    border: 0 !important;
}

.logo {
	width:  300px;
  	height: auto;
  	margin: 0 auto;
  	padding-bottom: 20px;
}

.spaced {
  padding: 20px 0 20px 0;
}

.text-light {
  font-color: gray;
}

.text-spaced {
	line-height: 2em;
}

.text-p {
	padding: 10px 0 20px 0;
}

.text-white {
	color: white;
}

.btn-palette {
	background-color: #443276;
	color: #fff;
}

.clear {
	padding-top: 3px;
}

.background-header { 
  // background: url(desk2.jpg) no-repeat center center fixed; 
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;
  min-height: 780px;
  padding-top: 120px;
  // width: 100%;
  // height: 100%;

    width: 100%;
    height: 100%;
    background-image: url('desk2.jpg');
    background-size: cover;
    position: relative;
}

.email {
	 min-width: 250px;
}

// portfolio
#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 300px;
}

#portfolio .portfolio-item .portfolio-link .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: #314374;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#portfolio .portfolio-item .portfolio-link .caption:hover {
	border-radius: 20px;
    opacity: 0.8;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content {
    position: absolute;
    top: 30%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
    margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
#portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
    margin: 0;
}

#portfolio * {
    z-index: 2;
}

.flybery {
  border: 2px solid gray;
}

@media(min-width:767px) {
    #portfolio .portfolio-item {
        margin: 0 0 60px;
        padding: 0 0 0px;
    }
}
#portfolio .fa {
	color: #fff;
}

.rounded {
	border-radius: 20px;
}

.btn-rounded {
	background-color: transparent;
	border-radius: 40px;
	min-width: 100px;
	min-height: 30px;
	opacity: 0.8;
	border: 2.5px solid white;
	
}

.btn-rounded:hover {
	color: #fff;
}

.portfolio-p {
	font-size:14px;
	line-height: 3em;
}

//footer

.fa-move {
  margin-right:20px;
	padding:0 20px 0 0;
	color: #443276;
}

footer {
  padding-top: 30px;
  padding-bottom: 50px;
  margin-bottom: 0 ;
  overflow: hidden;
}

.footer {
   text-align: center;
   width: 100%;
   padding: 0 180px 0 180px;
}

.footer-space {
	padding-bottom: 5px;
}

 .f1,
 .f2,
 .f3 {
   position: relative;
   display: inline-block;
   margin: 0 auto;
   min-width: 300px;
 }

@media (min-width: 1024px) {
   .f2 {
  border-left: 2px solid black;
  border-right: 2px solid black;  
 }
}

 .copyright {
 	display: inline-block;
 	position: relative;
 	margin: 0 auto;
 	text-align: center;
 	padding-left: 0px;
  color: #d3d3d3;
 }


