html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
}

.navbar {
    background: #0069AA;
    margin: 0 !important;
    border: 0 !important;
}

.logo {
	width:  300px;
  	height: auto;
  	margin: 0 auto;
  	padding-bottom: 20px;
}

.text-spaced {
	line-height: 1.3em;
}

.text-p {
	padding-top: 10px;
}

.text-white {
	color: white;
}

.btn-palette {
	background-color: #443276;
	color: #fff;
}

.clear {
	padding-top: 3px;
}

.background-header { 
  background: url(desk2.jpg) center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 780px;
  padding-top: 120px;
}

#mc_embed_signup {
	position: relative;
	display: block;
	margin: 0 auto;
	text-align: center;
}

.email {
	min-width: 250px;
    width: auto;
    display: inline;
}

.fa {
	padding-right: 40px;
	color: #443276;
}

footer {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer {
   text-align: center;
   width: 100%;
}

 .f1,
 .f2,
 .f3 {
   position: relative;
   display: inline-block;
   text-align: center;
   padding: 0px;
   min-width: 300px;
   width: 33%;

 }