html,
body {
  overflow-x: hidden;

  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
@media screen and (min-height:2048px) {
  .background-header {
    min-height: 1066px;
  }
}
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}
.text-light {
  font-weight: 300 !important;
}
li {
  list-style-type: none;
}
.navbar {
  margin: 0 !important;

  border: 0 !important;
  background: #0069AA;
}
.logo {
  width: 300px;
  height: auto;
  margin: 0 auto;
  padding-bottom: 20px;
}
.spaced {
  padding: 20px 0;
}
.text-light {
  font-color: gray;
}
.text-spaced {
  line-height: 2em;
}
.text-p {
  padding: 10px 0 20px;
}
.text-white {
  color: white;
}
.btn-palette {
  color: #fff;
  background-color: #443276;
}
.clear {
  padding-top: 3px;
}
.background-header {
  position: relative;
  // width: 100%;
  // height: 100%;

  width: 100%;
  height: 100%;
  // background: url(desk2.jpg) no-repeat center center fixed;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;
  min-height: 780px;
  padding-top: 120px;

  background-image: url(desk2.jpg);
  background-size: cover;
}
.email {
  min-width: 250px;
}
// portfolio
#portfolio .portfolio-item {
  right: 0;

  margin: 0 0 15px;
}
#portfolio .portfolio-item .portfolio-link {
  position: relative;

  display: block;

  max-width: 300px;
  margin: 0 auto;
}
#portfolio .portfolio-item .portfolio-link .caption {
  position: absolute;

  width: 100%;
  height: 100%;

  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;

  opacity: 0;
  background: #314374;
}
#portfolio .portfolio-item .portfolio-link .caption:hover {
  opacity: 0.8;
  border-radius: 20px;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content {
  position: absolute;
  top: 30%;

  width: 100%;
  height: 20px;
  margin-top: -12px;

  text-align: center;

  color: #fff;

  font-size: 20px;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
  margin-top: -12px;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
#portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
  margin: 0;
}
#portfolio * {
  z-index: 2;
}
.flybery {
  border: 2px solid gray;
}
@media(min-width:767px) {
  #portfolio .portfolio-item {
    margin: 0 0 60px;
    padding: 0;
  }
}
#portfolio .fa {
  color: #fff;
}
.rounded {
  border-radius: 20px;
}
.btn-rounded {
  min-width: 100px;
  min-height: 30px;

  opacity: 0.8;
  border: 2.5px solid white;
  border-radius: 40px;
  background-color: transparent;
}
.btn-rounded:hover {
  color: #fff;
}
.portfolio-p {
  font-size: 14px;
  line-height: 3em;
}
//footer
.fa-move {
  margin-right: 20px;
  padding: 0 20px 0 0;

  color: #443276;
}
footer {
  overflow: hidden;

  margin-bottom: 0;
  padding-top: 30px;
  padding-bottom: 50px;
}
.footer {
  width: 100%;
  padding: 0 180px;

  text-align: center;
}
.footer-space {
  padding-bottom: 5px;
}
.f1,
.f2,
.f3 {
  position: relative;

  display: inline-block;

  min-width: 300px;
  margin: 0 auto;
}
@media (min-width: 1024px) {
  .f2 {
    border-right: 2px solid black;
    border-left: 2px solid black;
  }
}
.copyright {
  position: relative;

  display: inline-block;

  margin: 0 auto;
  padding-left: 0;

  text-align: center;

  color: #d3d3d3;
}
